<article class="card-block container">
  <picture>

  </picture>
  <div class="card-block__text-container">
    <ul class="card-block__tags-list list-hidden-marker">
      <li class="card-block__tag-item"></li>
      <li class="card-block__tag-item"></li>
    </ul>
    <ul class="card-block__info-list list-hidden-marker">
      <li class="card-block__info-item">
        <p class="card-block__info-text"></p>
      </li>
      <li class="card-block__info-item">
        <p class="card-block__info-text"></p>
      </li>
      <li class="card-block__info-item">
        <p class="card-block__info-text"></p>
      </li>
    </ul>
    <h3 class="card-block__title"></h3>
    <p class="card-block__text"></p>
    <a class="card-block__link"></a>
  </div>
</article>