.heading {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
  margin-bottom: 36px;

  &__title {
    max-width: 280px;
    margin: 0 40px 0 0;
  }

  &__text {
    max-width: 226px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
  }
}

.slider {
  padding-bottom: 60px;
  &__wrapper {
    overflow: hidden;
  }

  &__inner-wrapper {
    display: flex;
  }

  &__slide {
  }

  &__bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  &__button {
    background: transparent;
    border: 0;    
    cursor:pointer;

    &:hover,focus {
      opacity: .6;
    }
    
    &:disabled {
      cursor:url('static/images/cursor-disabled.png'), auto;
      opacity: .1;
    }
  }



  &__dot {
    width: 10px;
    height: 10px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;

    &:not(:last-child) {
      margin-right: 5px;
    }
    
    &:hover, focus {
      background-color: #828282;
      cursor:pointer;
    }

    &_active {
      background-color: #070707;
    }

    &:not(.slider__dot_active):hover,
    &:not(.slider__dot_active):focus {
      background-color: #E5E5E5;
    }
  }
}

.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
  }

  &__message-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message-text {
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0 20px 0;
    max-width: 448px;
    padding: 15px;
    border: 2.5px solid #070707;
    position: relative;

    &:nth-child(odd) {
      margin-left: -100px;
      &:before {
        content: "";
        border-bottom: #070707 2.5px solid;
        border-right: #070707 2.5px solid;
        position: absolute;
        bottom: -15px;
        right: 30px;
        width: 25px;
        height: 25px;
        transform: rotate(45deg);
        background-color: #F6F6F6;
      }
    }

    &:nth-child(even) {
      margin-right: -100px;
      &:before {
        content: "";
        border-bottom: #070707 2.5px solid;
        border-right: #070707 2.5px solid;
        position: absolute;
        bottom: -15px;
        left: 30px;
        width: 25px;
        height: 25px;
        transform: rotate(45deg);
        background-color: #F6F6F6;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin:0;        
  }

  &__text {
    margin: 30px 0 0 0;
  }
  
  &__programs-list {
    display: flex;
    margin: 0 -25px 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__program-item {
    max-width: 180px;
    padding: 45px 25px 0 0;
    box-sizing: border-box;
    text-align: center;

    @media (max-width:768px) {
      max-width: 145px;
    }
  }

  &__program-name {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin:20px 0 28px 0;
  }

  &__program-skill {
    display: flex;
  }

  &__program-raiting {
    font-size: 14px;
    line-height: 17px;
    color: #828282; 
  }

  &__program-scale {

    max-width: 142px;
    margin: 0 0 0 7px;

    @media (max-width:768px) {
      max-width: 111px;
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 60px 0;

  &__title{
    margin: 0 0 50px 0;

  }

  &__desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(7, 7, 7, 0.85);
    padding: 31px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-bottom: 1px dashed #FFFFFF;
    cursor: pointer;
    transition: .7s;

    &:hover, &:focus {
      border-bottom: 1px solid #FFFFFF;
    }
  }

  &__text {
    margin: 0;
    max-width: 400px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
}

.swiper-container {
  width: 1000px;

  @media (max-width:1023px) {
    width: 648px;
  }
}

.swiper-slide {
  position: relative;
} 