<div class="container">
  <header class="header">
    <nav class="header__nav">
      <ul class="header__nav-list list-hidden-marker">
        <li class="header__nav-item">Home</li>
        <li class="header__nav-item">
          <ul class="header__nav-list list-hidden-marker">
            <li class="header__nav-item">My blog</li>
            <li class="header__nav-item">Sign in</li>
            <li class="header__nav-item">Register</li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>  
