<div class="container">
  <header class="header">
    <nav class="header__nav">
      <ul class="header__nav-list list-hidden-marker">
        <li class="header__nav-item"><a class="header__nav-link" href="/index.html">Home</a></li>
        <li class="header__nav-item">
          <ul class="header__nav-list list-hidden-marker">
            <li class="header__nav-item"><a class="header__nav-link" href="/pages/blog/index.html">My blog</a></li>
            <li class="header__nav-item"><button class="header__nav-link button-login_js" type="button">Sign in</button></li>
            <li class="header__nav-item"><button class="header__nav-link button-sign_js" type="button">Register</button></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
@@include('sign/index.html')
@@include('login/index.html')
