.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 220px;
  box-sizing: border-box;

  @media (max-width:1023px) {
    max-width: 768px;
    padding: 0 60px;
  }
}

@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./buttonarrow/arrow";
@import "./input/input";
@import "./sign/sign";
@import "./login/login";
@import "./message/message";



.list-hidden-marker {
  list-style-type: none;
  padding:0;
}

a {
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 47px;
  line-height: 57px;
}

body {
  font-family: Gilroy, sans-serif;
  color: #070707;
}

.fieldset-border-none {
  border: none;
  width: fit-content;
  padding: 0;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}

.invalid-feedback {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #EB3617;
}

.loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;

  &__wrapper {
    margin: 0 auto;
  }

  &__inner-wrapper {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
  }

  &__cube {
    position: relative;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    float: left;
    transform: scale(1.1);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(52, 73, 94, 1.0);
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%;
    }
  }
  &__cube_2 {
      transform: scale(1.1) rotateZ(90deg);
      &::before {
        animation-delay: 0.35s;
      }
  }
  &__cube_3 {
      transform: scale(1.1) rotateZ(180deg);
      ::before {
        animation-delay: 0.69s;
      }
  }
  &__cube_4 {
      transform: scale(1.1) rotateZ(270deg);
      &::before {
        animation-delay: 1.04s;
    }
  }  
}

@keyframes loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
