<div class="container">
  <footer class="footer">
    <h2 class="footer__title">Contacts</h2>
    <p class="footer__text">Want to know more or just chat?You are welcome!</p>
    @@include('button-black/index.html', {
      "text": "send message";
    })
    <ul class="footer__social-list">
      <li class="footer__social-item">
        <a class="footer__social-link button-white">Instagram</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link button-white">Vk</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link button-white">Telegram</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link button-white">Mail</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link button-white">GitHub</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link button-white">Phone</a>
      </li>
    </ul>
    <p class="footer__dl-info">Design by <span class="footer__dl-name">DL Academy</span></p>
    <p class="footer__dl-info">Program code from Antonina</p>
  </footer>
</div>