.form-login {
  padding: 40px 40px;
  border: 2.5px solid #070707;
  margin: auto;
  position: relative;

  &__button-close {
    border: none;
    width: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0;
    right: -35px;
    background-image: url(static/images/close.svg);
    cursor: pointer;
    transition: .4s;
    opacity: 0.4;

    &:hover, &:focus {
      opacity: 0.9;
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 290px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      widows: 280px;
    }
  }

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;

    &_red {
      color: #ff0000;
    }
  }
}

.login-popup {
  background-color: rgba(246, 246, 246, 0.99);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 1;

  &_none {
    display: none;
  }
}