<div class="popup popup_none login_js">
  <form class="form-login" name="log-in">
    <ul class="form-login__list list-hidden-marker">
      <li class="form-login__item">
        <label class="form-login__label" for="input-email">Email <span class="form-login__label_red">*</span></label>
        @@include('input/index.html', {
          "type":"email",
          "name":"email",
          "id":"input-email"
        })</li>
      <li class="form-login__item">  
        <label class="form-login__label" for="input-password">Password <span class="form-login__label_red">*</span></label>
        @@include('input/index.html', {
          "type":"Password",
          "name":"Password",
          "id":"input-password"
        })
      </li>
    </ul>  
    @@include('button/index.html', {
      "class":"button_white",
      "text":"Log in",
      "type:"submit"
    })
    <button class="form-sign__button-close form-sign__button-close_js" type="button"><span class="hidden">close window</span></button> 
  </form>
</div>

