.form-message {
  max-width: 680px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding: 40px 40px;
  border: 2.5px solid #070707;

  &__button-close {
    border: none;
    width: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0;
    right: -35px;
    background-image: url(static/images/close.svg);
    cursor: pointer;
    transition: .4s;
    opacity: 0.4;

    &:hover, &:focus {
      opacity: 0.9;
    }
  }

  &__list {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 290px;
    margin-bottom: 20px;
    &:nth-child(odd) {
      margin-right: 10px;
    }
  }

  &__label {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;

    &_red {
      color: #ff0000;
    }
  }

  &__textarea-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__textarea-label {    
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
  }

  &__textarea-input {
    padding: 14px 0 14px 14px;
    border: 2.5px solid #E5E5E5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
  
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    cursor: pointer;
    
    &:hover {
      border: 2.5px solid #828282;
    }
  
    &:focus {
      border: 2.5px solid #070707;
    }
  
    &_notvalid {
      border: 2.5px solid #EB3617;
    }
  }

  &__check-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__check-label {
    padding-left: 30px;
    margin-left: -13px;
    position: relative;
    color: #E5E5E5;
    transition: .4s;
    cursor: pointer;
    
    &:hover, &:focus {
      color: #828282;
    }

    &:active {
      color: #070707;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid #E5E5E5;
      border-radius: 3px;
    }
  }
  &__check-input:checked + &__check-label::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(/static/images/check.svg);
    background-repeat: no-repeat;
  }
}

.message-popup {
  background-color: rgba(246, 246, 246, 0.99);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 1;

  &_none {
    display: none;
  }
}